.accordion {
	display: block;
	padding: 0;
	width: 100%;
}

.accordion__item {
	display: block;
	margin: 0;
	width: 100%;

	list-style-type: none;

}

.accordion__btn {
	display: block;
	padding: 1rem;
	width: 100%;

	&[aria-expanded="true"] {
		.is-hidden-open {
			display: none;
		}
	}
}

.accordion__body {
	transition: max-height .3s ease-in-out;
	max-height: 0;
	overflow: hidden;
	padding: 0 1rem;
	width: 100%;
	border-bottom: 1px solid #ccc;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 1rem;
	}
}