{% if items %}
  <dl role="presentation" class="accordion js-accordion">
    
    {% for item in items %}

      <dt role="heading" class="accordion__item" aria-level="3">
        <button class="accordion__btn" aria-expanded="false" type="button">
          {{ item.title }}
          <svg class="icon" aria-hidden="true" focusable="false" viewBox="0 0 10 10">
            <rect class="is-hidden-open" height="8" width="2" y="1" x="4"/>
            <rect height="2" width="8" y="4" x="1"/>
          </svg> 
        </button> 
      </dt>
      <dd class="accordion__body" aria-hidden="true" role="region">
        {{ item.content | raw }}
      </dd>

    {% endfor %}
    
  </dl>
{% endif %}